/*Styles base*/
/*FONTS*/
/* play-regular - latin */
@font-face {
  font-display: swap;
  font-weight: 400;
  src: url('../fonts/play-v21-latin-regular.woff2') format('woff2');
}
/* play-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Play';
  font-weight: 700;
  src: url('../fonts/play-v21-latin-700.woff2') format('woff2');
}
/* roboto-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-weight: 400;
  src: url('../fonts/roboto-v51-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-600 - latin */
@font-face {
  font-display: swap;
  font-weight: 600;
  src: url('../fonts/roboto-v51-latin-600.woff2') format('woff2');
}
/*####*/
/*base*/
* {
  box-sizing: border-box; /*Візуальна модель форматування ,обнуляя відступи по замовченню*/
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0px;
}
:root {
  --color-brand: #2b7fff;
  --primary: #011c44;
  --secondary1: black;
  --background1: #fff;
}
.container {
  width: 100%;
  max-width: 1288px; /*1240+2*24*/
  margin: 0 auto; /*Центрування контенеру*/
  padding: 0 24px; /*Щоб не прилипало*/
}
a {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
p,
h3 {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-family: 'Play', sans-serif;
  font-weight: 700;
  font-size: 64px;
  text-align: center;
}
.button {
}
/*Style-link*/
ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
.title-span {
  color: var(--color-brand);
}
.header_link,
.footer_link {
  font-style: normal;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

.section-title {
  font-family: 'Play', sans-serif;
  text-align: center;
}
/*####-----####*/
/*Header*/
header {
  /*background-color: antiquewhite;*/
  position: absolute;
  padding-top: 32px;
  /*padding-bottom: 42px;*/
  right: 0px;
  left: 0px;
  width: 100%;

  max-height: 106px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
}

.header__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 48px;
}
.header__nav {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
}
.header__menu {
  display: flex;
  gap: 56px;
}
.header_link {
  color: var(--primary);
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  transition: color 0.3s;
}
.header_link:hover {
  color: var(--color-brand);
}

.follow-us {
  display: flex;
  align-items: center;
}
.header__follow-us {
  display: flex;
  gap: 32px;
  /* margin-right: 102px;
  justify-content: space-around;*/
  /* flex-grow: 1; /*Ігнорується браузером*/
  justify-content: flex-end;
}
.follow-us_icon {
  width: 32px;
  height: 32px;
  fill: black;
}
.follow-us_icon:hover {
  fill: var(--color-brand);
}

/*####-----####*/
/*Main Section*/

.main-Section {
  background-image: url(../images/header_background.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.hero-container {
  padding-left: 105px;
  padding-top: 123px;
}
.main-title-container {
  max-width: 1240px;
  width: 100%;
  max-height: 307px;
  height: 100%;
}
.main-title-container p {
  font-weight: 400;
  font-size: 18px;
  color: var(--primary);
  margin-bottom: 0;
}
.main-title {
  font-weight: 700;
  font-size: 140px;
  line-height: 81%;
  text-transform: capitalize;
  text-align: left;
  font-family: 'Play';
  color: var(--color-brand);
  margin-bottom: 40px;
}

/*Style-button*/
.modal-btn-open {
  color: white;
  background-color: var(--color-brand);
  border: 1px solid var(--color-brand);
  border-radius: 32px;
  width: 219px;
  height: 53px;
  cursor: pointer;
  transition: all 0.7s ease;
  margin-bottom: 14px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.modal-btn-open:hover {
  color: black;
  background-color: transparent;
  transform: translateY(-3px);
}
.button-paragraf {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-align: left;
  padding-left: 20px;
  color: #4a4a4a;
}
/*####-----####*/
/*aboutus-section*/
.aboutus-section {
  /*text-align: left;*/
  padding-top: 37px;
}
.aboutus-container {
  display: flex;
  margin-bottom: 140px;
  gap: 32px;
  position: relative;
  justify-content: center;
}
.aboutus-section-title {
  text-align: left;
  margin-bottom: 40px;
}

.aboutus-text {
  display: block;
  padding: 40px 32px 199px 0;
  max-width: 709px;
  width: 100%;
}
.text-us {
  font-weight: 400;
  font-size: 22px;
  line-height: 173%;
  color: var(--primary);
}
/*.aboutus {
  margin-bottom: 40px;
}*/
.beauty-img {
  display: flex;
  max-width: 499px;
  width: 100%;
  /*flex-basis: calc(40% -32 / 2);*/
  flex-direction: column; /* Элементы в колонку */
  justify-content: space-between; /* Распределить по вертикали */
  /*height: 100px;*/
  gap: 40px;
  position: relative;
}
.down {
  align-self: flex-start;
} /* Вверху слева */
.up {
  align-self: flex-end;
} /* Внизу справа */
.beauty {
  max-width: 335px;
  width: 100%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.2);
}
.star-icon {
  position: absolute;
}
.star-blue {
  fill: var(--color-brand);
  top: 32px;
  right: -27px;
  transform: rotate(45deg);
  animation: cameOut 5s ease-in infinite;
}
@keyframes cameOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes spinAndScale {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.5);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

.star-small {
  fill: #747272;
  top: 269px;
  right: 6px;
  animation: cameOut 9s ease-in-out infinite;
  animation: spinAndScale 10s infinite linear;
}
.star-big {
  fill: #011f4a;
  top: 336px;
  right: 295px;
  animation: spinAndScale 7s infinite linear;
}
/*####-----####*/
/*Why-choose-us-section*/
.Why-us-section {
  /*padding-bottom: 72px;*/
  margin-bottom: 96px;
  /*position: relative;*/
}
.Why-us__section-title {
  margin-bottom: 40px;
}
.Why-us__card {
  display: flex;
  gap: 56px;
  flex-basis: calc(100% - 112px / 3); /*для адаптивності*/
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border-radius: 32px;
  width: 316px;
  height: 181px;
  box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);
  background: white;
  padding: 24px 32px;
  text-align: center;
}
.Why-us {
  fill: var(--color-brand);
  width: 48px;
  height: 48px;
}
.Why-us_text {
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  color: #000;
  font-family: 'Roboto', sans-serif;
}

/*####-----####*/
/*our-procedures-section*/
.procedures-section {
  padding-top: 72px;
}
section-title-procedures {
  margin-bottom: 48px;
}
.procedures-section__slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 96px;
}
.procedures-section__container {
  overflow: hidden; /*обрізає все що виходить за межі*/
  flex-basis: calc(100% - 32px / 3);
  padding-bottom: 43px;
}
.procedures-section__list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.procedure-card {
  position: relative;
  display: flex;
  width: 344px;
  height: 456px;
  background-image: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0) 47.4%,
    rgba(1, 28, 68, 0.73) 82.66%,
    #011c44 99.06%
  );
  border-radius: 4px 120px;
  overflow: hidden;
  /*transform: rotate(-180deg);*/
  justify-content: center;
  text-align: center;
}

.procedure-card__image {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  border-radius: 4px 120px;
}
.procedure-card__title {
  font-weight: 400;
  font-size: 22px;
  line-height: 118%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.swiper-slide:hover {
  transform: scale(1.05);
}

/* Style arrows-button*/
.arrows {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px, solid, #011c44;
  flex-shrink: 0; /*Щоб кнопки не стисткались*/
}
.arrows:hover {
  background-color: var(--color-brand);
}
.arrows:hover .arrows-icon {
  fill: var(--background1);
}
.arrows:hover {
  border: transparent;
}
.arrows.next {
  transform: rotate(180deg);
}
.arrows-icon {
  fill: var(--primary);
  width: 18px;
  height: 15px;
}
/*####-----####*/
/*Contacts-section*/
.contacts-section {
  margin-bottom: 96px;
}
.contacts-container {
  display: flex;
  justify-content: center;
  gap: 32px;
}
/*######FORMA######*/
.contacts-form {
  justify-content: center;
  border-radius: 32px;
  max-width: 423px;
  padding: 48px 56px;
  width: 100%;
  max-height: 481px;
  height: 100%;
  background-color: var(--primary);
}
.contacts-form h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  color: white;
  margin-bottom: 32px;
}
/*####-----####*/
.contact-map {
  flex-shrink: 0;
  border-radius: 32px;
  border: none;
}
.contact-form-main {
  width: 310px;
  height: 301px;
}
.contacts-form span {
  color: var(--color-brand);
}
.agree-link {
  font: 'Roboto', sans-serif;
  text-decoration: none;
  color: inherit;
  margin-bottom: 0;
}

/*footer*/
.footer {
  position: relative;
  background-color: var(--primary);
}
.footer-container {
  display: flex;
  /*align-content: center;*/
  justify-content: space-between;
  padding: 56px 0;
  line-height: 1.18;
}
.footer-container,
a {
  font-weight: 400;
  font-size: 16px;
}

.footer_link {
  display: flex;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  flex-grow: 1;
  transition: color 0.7s;
  margin-bottom: 16px;
  text-align: left;
}
.footer_link:hover {
  color: var(--color-brand);
  text-decoration: none;
}

.follow-us-footer {
  display: flex;
  gap: 24px;
  justify-content: space-around;
}
.follow-us_icon_footer {
  fill: white;
  width: 42px;
  height: 42px;
}
.follow-us_icon_footer:hover {
  fill: var(--color-brand);
}
.oher,
p {
  font-weight: 400;
  font-size: 13px;
  color: #747272;
}
.footer::after {
  position: absolute;
  width: 248px;
  height: 153px;
  background-image: url(../images/footеr_decor.png);
  background-repeat: no-repeat;
  bottom: 0px;
  right: 0px;
  content: '';
}
/*####-----####*/
/*Modal*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: (
    rgba(0, 0, 0, 0.5)
  ); /*напівпрозоре затемння коли модал вікно*/
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  transition:
    opacity 0.5s,
    visibility 0.5s;
  /*pointer-events: none;*/
}
.modal {
  position: relative;
  border-radius: 48px;
  max-width: 723px;
  padding: 42px 144px;
  width: 100%;
  max-height: 681px;
  height: 100%;
  background-color: var(--primary);
  /*overflow-y: auto; /*модливість скролу по осі y*/
}
.modal h2 {
  color: #fff;
  font-family: 'Play', sans-serif;
  font-weight: 700;
  font-size: 64px;
  margin-bottom: 40px;
}
.modal h3 {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  margin-bottom: 32px;
}
.modal h3 span {
  color: #2b7fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 22px;
}

.backdrop.is-hidden {
  /*Щоб працювала можлива анімація*/
  visibility: hidden; /*Ховає модальне вікно*/
  opacity: 0; /*прозоре*/
  pointer-events: none; /*натискання кнопок блокується*/
}
.modal-btn-close {
  position: absolute;
  top: 42px;
  right: 42px;
  /*дизайн кнопки*/
  fill: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/*Form*/
.form-field {
  display: block;
  margin: 0 auto 24px;
  width: 310px;
  height: 52px;
}
.form-field.contact {
  display: block;
  margin: 0 auto 16px;
  width: 310px;
  height: 52px;
}
.form-label {
  display: block; /*label за замовчуванням строковий*/
  position: absolute;
  /*top: 18px;
  left: 32px;*/
}
.form-input {
  padding: 18px 33px;
  width: 100%;
  border: 2px solid #747272;
  border-radius: 32px;
  line-height: 1.17;
  background-color: transparent;
}
.form-input:focus {
  border-color: #747272;
  background-color: #d4d3d3;
  outline: none;
}
.form-input::placeholder {
  color: white;
  line-height: 1.17;
  font-size: 16px;
}
/*Валідація форми*/
/*зміна фона ячейки якщо вона заповнена*/
input:not(:placeholder-shown) {
  background-color: white;
}
/*input:required {
  background-color: antiquewhite; } /* Підсвічує обов'язкові поля червоним */

.form-button {
  display: block;
  border-radius: 32px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 600;
  width: 281px;
  height: 53px;
  color: white;
  background-color: var(--color-brand);
  border: 1px solid var(--color-brand);
  transition: all 0.7s ease;
  margin: 0 auto 8px;
}
.form-button:hover {
  color: black;
  background-color: #d4d3d3;
  border-color: #747272;
  transform: translateY(-3px);
}

.agree-link {
  color: #747272;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  text-underline-offset: 2px;
  text-decoration-skip-ink: none;
}
.agree a {
  text-decoration: underline;
}
.agree {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  margin: 0;
}
