.about-us {
  /*text-align: left;*/
  padding-top: 37px;
  &__container {
    display: flex;
    margin-bottom: 140px;
    gap: 32px;
    position: relative;
    justify-content: center;
  }
  &__services {
    display: block;
    padding: 40px 32px 199px 0;
    max-width: 709px;
    width: 100%;
  }
  &__section-title {
    text-align: left;
    margin-bottom: 40px;
  }

  &__text {
    font-weight: 400;
    font-size: 22px;
    line-height: 173%;
    color: var(--primary);
    text-align: left;
  }
}

.beauty-img {
  display: flex;
  max-width: 499px;
  width: 100%;
  /*flex-basis: calc(40% -32 / 2);*/
  flex-direction: column; /* Элементы в колонку */
  justify-content: space-between; /* Распределить по вертикали */
  /*height: 100px;*/
  gap: 40px;
  position: relative;
}
.down {
  align-self: flex-start;
} /* Вверху слева */
.up {
  align-self: flex-end;
} /* Внизу справа */
.beauty {
  max-width: 335px;
  width: 100%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.2);
}
