.background-wave {
  background-image: url(../images/background-wave.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto;
  overflow: hidden;
  /* padding-top: 75px avto;*/
}
