.header_link,
.footer_link {
  font-style: normal;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}
.header_link {
  color: var(--primary);
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  transition: color 0.3s;
}
.header_link:hover {
  color: var(--color-brand);
}

.footer_link {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  transition: color 0.7s;
  margin-bottom: 16px;
}
.footer_link:hover {
  color: var(--color-brand);
  text-decoration: none;
}

.agree {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  margin: 0;
  &__link {
    color: #747272;
    font-weight: 400;
    font-size: 12px;
    text-underline-offset: 1px;
    text-decoration-skip-ink: none;
  }
}
