.main {
  background-image: url(../images/header_background.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding-top: 75px avto;
  @media screen and (min-width: $bp-desktop) {
  }

  &__container {
    @media screen and (min-width: $bp-tablet) {
      padding-left: 105px;
      padding-top: 123px;
    }
  }

  &__title-container {
    max-width: 1240px;
    width: 100%;
    max-height: 307px;
    height: 100%;
    padding: 76px 0 32px;
    @media screen and (min-width: $bp-tablet) {
      padding-top: 0;
    }
  }

  &__title {
    text-transform: capitalize;
    font-family: 'Play';
    color: var(--color-brand);
    text-transform: capitalize;
    font-weight: 700;
    font-size: 54px;
    line-height: 85%;
    text-align: center;
    margin-bottom: 0;
    &_adaptive-br {
      display: none;
    }
    &_adaptive-br::after {
      content: ' ';
    }
    @media screen and (min-width: $bp-tablet) {
      font-size: 140px;
      line-height: 81%;
      text-align: left;
      margin-bottom: 40px;
      text-align: left;
      &_adaptive-br {
        display: block;
      }
    }
  }

  &__button-paragraf {
    font-weight: 400;
    color: #4a4a4a;
    font-size: 11px;
    line-height: 164%;
    text-align: center;
    padding-left: 20px;

    @media screen and (min-width: $bp-tablet) {
      font-size: 12px;
      line-height: 150%;
      text-align: left;
      padding-left: 20px;
    }
  }
  &_txt {
    text-align: center;
    line-height: 150%;
    font-size: 12px;
    text-align: center;
    @media screen and (min-width: $bp-tablet) {
      font-size: 18px;
      text-align: left;
    }
  }
}
