.procedures {
  padding-top: 72px;
  &__slider {
    display: flex;
    align-items: center;
    margin-bottom: 96px;
  }
  &__container {
    overflow: hidden; /*обрізає все що виходить за межі*/
    flex-basis: calc(100% - 32px / 3);
    padding-bottom: 43px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }

  &__card {
    position: relative;
    display: flex;
    width: 344px;
    height: 456px;
    background-image: linear-gradient(
      180deg,
      rgba(1, 28, 68, 0) 47.4%,
      rgba(1, 28, 68, 0.73) 82.66%,
      #011c44 99.06%
    );
    border-radius: 4px 120px;
    overflow: hidden;
    /*transform: rotate(-180deg);*/
    justify-content: center;
    text-align: center;
  }

  &__card-image {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    border-radius: 4px 120px;
  }
  &__card-title {
    font-weight: 400;
    font-size: 22px;
    line-height: 118%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.swiper-slide:hover {
  transform: scale(1.05);
}
