.procedures {
  padding-top: 72px;
  &__slider {
    display: flex;
    align-items: center;
    margin-bottom: 96px;
  }
  &__container {
    overflow: hidden; /*обрізає все що виходить за межі*/
  }
  &__list {
    margin-bottom: 32px;
  }

  &__card {
    width: 320px;
    height: 416px;
    border-radius: 4px 120px;
    position: relative;
    display: flex;
    overflow: hidden;
    /*transform: rotate(-180deg);*/
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(
      180deg,
      rgba(1, 28, 68, 0) 47.4%,
      rgba(1, 28, 68, 0.73) 82.66%,
      #011c44 99.06%
    );
    @media screen and (min-width: $bp-tablet) {
      width: 344px;
      height: 456px;
    }
  }

  &__card-image {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
  }
  &__card-title {
    font-weight: 400;
    font-size: 22px;
    line-height: 118%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
.section-title {
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  margin-bottom: 24px;
  @media screen and (min-width: $bp-desktop) {
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 64px;
  }
}
